// Problem ID: %id%
// URL: %url%

using System.Collections.Generic;

namespace Solution
{
    public class %problemName%
    {
        public static void Solution()
        {

        }
    }
}
