const chai = require('chai');
const expect = chai.expect;
const itParam = require('mocha-param');
const { solution } = require('./%problemName%');

describe('%problemName%', () => {
    const testCases = [
        {
            param1: "",
            result: "",
        },
    ];

    itParam("f(${value.param1}) should equal ${value.result}", testCases, t => {
        expect(solution(t.param1)).to.equal(t.result);
    });
});
