import org.scalatest.FunSuite
import org.scalatest.prop.TableDrivenPropertyChecks._

import leetcode.%problemName%

class %problemName%Test extends FunSuite {
    val testCases = Table(
        ("param1", "expected"),
        ("", "")
    )

    testCases.foreach{ i =>
        test(s"f(${i._1}) should equal to ${i._2}") {
            assert(%problemName%.solution(i._1) === i._2)
        }
    }
}
